.enableable-foldout__enable_toggle {
    flex-direction: row;
    position: absolute;
    margin-left: 20px;
    margin-top: 2px;
}

.enableable-foldout .unity-foldout__text {
    margin-left: 20px;
}

.unity-inspector-element__custom-inspector-container .enableable-foldout__enable_toggle {
    margin-left: 6px;
}

.unity-inspector-element__custom-inspector-container .enableable-foldout .unity-foldout__content {
    margin-left: 3px;
}
