:root {
    --icon-execute: url('project://database/Assets/EncosyTower/EncosyTower.VisualCommands/StyleSheets/image-execute.png') 64 64;
    --visual-commander-color-focus: #9FEF3D;
    --visual-directory-background: #353535;
    --visual-directory-highlight-background: #2C5D87;
    --visual-command-button-execute-background: #585858;
    --visual-command-button-execute-border-color: #303030;
    --visual-command-button-execute-background-hover: #676767;
    --visual-command-button-execute-border-color-hover: #9FEF3D;
    --visual-command-button-execute-background-focus: #6E6E6E;
    --visual-command-button-execute-border-color-focus: #BCF14B;
    --visual-command-button-execute-background-active: #5F7247;
    --visual-command-button-execute-border-color-active: #9FEF3D;
    --visual-command-button-execute-icon-color: #8BBB50;
    --visual-command-header-background: #5F5F5F;
    --visual-command-border-color: #232323;
    --visual-command-header-label-color: #84CDF9;
    --visual-property-content-color: black;
}
